<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prototype1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A261827B1DB111A600A8746B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A261828F1DB111A600A8746B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A261829A1DB111A600A8746B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
